@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
}

/* #1 header styling */
ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header,
.hero {
    background-color: #1f2937;
    display: flex;
    flex: auto;
    justify-content: space-between;
    padding: 10px 200px;
}

.header-logo,
.action-first {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

li a,
.hero-secondarytext,
button,
.action-second {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* #1 header styling */

/* #2 hero styling */
.hero {
    padding: 50px 200px 76px;
    align-items: center;
    gap: 16px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

.hero-maintext {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}

.image-container {
    background-color: grey;
    width: 800px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container p {
    color: white;
}

/* #2 hero styling */

/* #3 content styling */
.image-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.content-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.content-box {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.box p {
    text-align: center;
}

/* #3 content styling */

/* #4 quote styling */
.quote {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 120px 300px;
}

.quote-text {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.author {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
}

/* #4 quote styling */

/* #5 action styling */
.action {
    margin: 100px 200px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    background-color: #3882f6;
    max-width: 1000px;
    height: 150px;
    align-items: center;
    flex: auto;
    border-radius: 12px;
}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
}

.action-text p {
    margin: 0;
}

.action-button {
    padding: 8px 40px;
    border: 3px solid #f9faf8;
}

/* #5 action styling */



/* #6 footer styling */
/* #6 footer styling */